blinker
cachelib
click
Flask
Flask-Caching
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
pandas
python-dateutil
pytz
six
tzdata
Werkzeug
networkx
textdistance
SPARQLWrapper
wtforms
bleach
attrs
pillow
keyring
cffi
scipy
packaging
pyparsing
zipp
future
gunicorn
Flask-WTF>=1.2.1