/* styles.css */

/*body {
    background-color: #8e8ea0;
    color: #333;

        background: linear-gradient(to bottom, #E0F7FA 0%, #0288D1 100%);
}*/

/*body {
    background: linear-gradient(to bottom, #E0F7FA 0%, #8e8ea0 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}*/

body {
    background-image: url('/static/images/minimalistic_background_blue_white.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main_text {
    font-size: 2vw;
}

#cy {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    width: 100%;
    min-height: 42vw;
}


.parent-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2%;
}

.cytoscape-container {
    width: 100%;
    min-height: 42vw;
}


.leftside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-height: 42vw;
}

.leftside-container .input-group {
    margin-top: 10%;
}

.leftside-container #clearSelection {
    margin-top: 10%;
}


.checkbox-group label {
    display: block;
    margin-bottom: 8px;
}


.rightside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-height: 42vw;
}

.leftside-container #searchButtonAOP{
    border-radius: 10px;
}

.leftside-container #clearSelection{
    border-radius: 10px;
}

.bottom-container {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    gap: 5%
    align-items: center;
    min-height: 3vh;
    padding-left: 16.5%;
}

.bottom-container button {
    border-radius: 10px;
    height: 2.5em;
    padding: 0.5em 1em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-container {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 5vh;
}

.search-group {
    margin-right: auto;
    width: 80%;
    margin-bottom: 8%;
}

.search-group label {
    margin-right: 4%;
    white-space: nowrap;
}

.search-field {
    margin-left: auto;
    width: 63%;
    margin-bottom: 8%;
}

.rightside-container label[for="searchFieldKe"],
.rightside-container #searchFieldKE {
  align-self: stretch;
  width: 100%;
}


.rightside-container label[for="searchFieldAOP"],
.rightside-container #searchFieldAOP {
  align-self: stretch;
  width: 100%;
}


/* Styles for the search button */
.search-button {
    margin-left: auto;
    width: 100%;
}

#exportToCytoscape {
    justify-self: start;
    /*margin-left: 16.5%;*/
    width: 100%;
}

#checkboxGene{
    justify-self: start;
    margin-left: 0%;
    width: 16.5%;
    white-space: nowrap;
}

.checkbox-group {
    width: 80%;
    margin-top: auto;
    margin-right: auto;
    text-align: left;
}

#searchGroupStressor{
    margin: auto;
    width: 100%;
    margin-bottom: 20%;
    flex: 1
}

#searchFieldStressor {
    margin: auto;
    width: 73.5%;
}

#saveButtonLog {
    margin-left: auto;
    width: 90%;
}

#mergeButtonKeyEvent {
    margin-left: auto;
    width: 90%;
}

#stressorDropdown {
    width: 80%;
}

/*navbar - logo size and placement */
nav img {
    height: 2vw;
    margin-right: 30%;
}

/* The popup window */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popup Content */
.popupMerge-content {
    background-color: #fefefe;
    width: 65%;
    height: 65%;
    overflow-y: auto;
    border: 1px solid #888;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.popup-top {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    gap: 10px;
    align-items: end;
    width: 100%;
    padding-top: 1%;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.popup-bottom-wrapper {
  display: flex;
  flex: 1;
  height: 100%;
}

.modal-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
}

.modal-second button {
  width: calc(50%);
  margin: 5px 0;
}

.dynamicButtons {
    width: 150px;
    height: 50px;
    margin: 5px;
}

.modal-third {
  flex: 1; /* Takes up 1/4 of the space */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* The Close Button */
.close {
/*    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
*/
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.merge-option-button {
    /* Default styles */
}

.merge-option-button.active {
    background-color: #4CAF50; /* Green background for active button */
    color: white;
}

.radio-container {
  text-align: left;
  width: 100%;
  position: relative;
  top: -2vh;
}

#nodePopup {
    display: none;
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 800px;
    z-index: 100;
    background: rgba(240, 240, 240, 0.95);
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}
