{% extends "base_template.html" %}

{% block content %}
    <div class="top-container">
            <!-- Search Field 1
        <div class="search-group" id="searchGroupStressor">
            <label for="stressorDropdown">Stressor:</label>
            <select id="stressorDropdown">
                <option></option>
            </select>
        </div>
        -->
    </div>

    <div class="parent-container">

        <div class="leftside-container">
            <!--button for searching -->
            <button type="submit" id="searchButtonAOP" class="search-button">Search AOP</button>

            <div class="input-group">
                <!-- <input type="text" id="searchFieldStressor" class="search-field-stressor" placeholder="Stressor Name" /> -->
                <select id="aopDropDown">
                <!-- Options will be added here -->
                    <option></option>
                </select>
                <button id="clearSelection" type="button">Clear highlighting</button>
            </div>

            <div class="checkbox-group" id="checkboxGene">
                <label><input type="checkbox" id="toggleLabels" name="toggleGeneName"> Toggle Gene Name</label>
                <label><input id="checkedBoxGene" type="checkbox" name="checkboxGenes"> Show Genes</label>
            </div>
        </div>

        <div class="cytoscape-container">
            <div class="toolbar">
                <img src="{{ url_for('static', filename='images/color_blind_not_active.drawio.svg') }}" alt="Color Blind Mode Not Active" id="colorBlindNotActive">
                <img src="{{ url_for('static', filename='images/color_blind_active.drawio.svg') }}" alt="Color Blind Mode Active" id="colorBlindActive">
                <img src="{{ url_for('static', filename='images/cytoscape_style_template_icon.drawio.svg') }}" alt="Save Cytoscape Style Template" id="saveStyleIcon">
                <img src="{{ url_for('static', filename='images/save_icon_v2.drawio.svg') }}" alt="Save Graph as Image" id="saveIcon">
            </div>
            <div id="cy"></div>
        </div>

        <div class="rightside-container">
            <!-- input fields for AOP and KE (will add KE Degree later) -->

            <!-- Search Field 1 -->
            <form id="aopSearchForm" action="searchAops" method="post">
                <div class="search-group">
                    <label for="searchFieldAOP">AOP IDs:</label>
                    <!--AOP search field -->
                    <input type="text" id="searchFieldAOP" name="searchFieldAOP" class="search-field" placeholder="17 or 17,260,107 ..." />
                </div>
            </form>

            <div class="search-group">
                <label for="searchFieldKe">KE IDs:</label>
                <!-- KE search field -->
                <input type="text" id="searchFieldKE" name="searchFieldKE" class="search-field" placeholder="1253 or 1253,281,46 ..." />
            </div>

            <form class="radio-container">
              <label>
                <input type="radio" name="degree" value="0" checked>
                Default
              </label>
              <br>
              <label>
                <input type="radio" name="degree" value="1">
                KE Degree 1
              </label>
              <br>
              <label>
                <input type="radio" name="degree" value="2">
                KE Degree 2
              </label>
            </form>

            <div class="search-group" id="searchGroupStressor">
                <label for="stressorDropdown">Stressor:</label>
                <select id="stressorDropdown">
                    <option></option>
                </select>
            </div>

            <!-- Checkboxes at the bottom -->
            <div class="checkbox-group" id="checkbox-filter">
                <form>
                    <label><input type="checkbox" name="checkboxDevelopment"> OECD Under Development</label>
                    <label><input type="checkbox" name="checkboxEndorsed"> OECD WPHA Endorsed</label>
                    <label><input type="checkbox" name="checkboxReview"> OECD Under Review</label>
                    <label><input type="checkbox" name="checkboxApproved"> OECD EAGMST Approved</label>
                </form>
            </div>

        </div>
    </div>

    <div class="bottom-container">
        <button id="exportToCytoscape">Export to Cytoscape</button>
        <!--button for saving user Actions -->
        <button id="saveButtonLog">Save Log</button>
        <!--Merge Key Event Nodes -->
        <button id="mergeButtonKeyEvent" onclick="console.log('Button clicked')">Merge KE:</button>
    </div>

    <div id="mergePopup" class="modal">
        <!-- popup Window for merging KE -->
        <div id="mergePopup-content" class="popupMerge-content">
    <!-- Top container -->
            <div class="popup-top">
              <div class="input-group">
                <!-- <input type="text" id="searchFieldStressor" class="search-field-stressor" placeholder="Stressor Name" /> -->
                <select id="keepNodeDropDown">
                <!-- Options will be added here -->
                    <option></option>
                </select>
              </div>

              <div class="input-group">
                <!-- <input type="text" id="searchFieldStressor" class="search-field-stressor" placeholder="Stressor Name" /> -->
                <select id="loseNodeDropDown">
                <!-- Options will be added here -->
                    <option></option>
                </select>
              </div>

              <button id="processButton">Process</button>
            </div>

            <!-- Bottom containers wrapper -->
            <div class="popup-bottom-wrapper">
              <!-- Second container -->
              <div class="modal-second">
                <!-- Content for the second container -->
                  <div id="dynamicButtons"></div> <!-- Container for dynamic buttons -->
              </div>

              <!-- Third container -->
              <div class="modal-third">
              </div>
            </div>

            <span class="close">&times;</span>
        </div>
    </div>

    <!-- Popup Container -->
    <div id="nodePopup">
        <!-- Content will be dynamically inserted here -->
        <div id="nodeInfo"></div>
    </div>


    <!-- Cytoscape.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.0/cytoscape.min.js"></script>

    <!-- Custom Cytoscape Script -->
    <script src="{{ url_for('static', filename='javascript/cytoscape_scripts.js') }}"></script>

    <!-- Custom Cytoscape Script -->
    <script src="{{ url_for('static', filename='javascript/visualizer_script.js') }}"></script>

    <!-- Custom Validator Script -->
    <script src="{{ url_for('static', filename='javascript/input_validator_script.js') }}"></script>

{% endblock %}

